@font-face
  font-family: "Merriweather"
  src: require("./fonts/merriweather-regular.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Merriweather"
  src: require("./fonts/merriweather-light.ttf")
  font-weight: 300
  font-style: normal

*
  box-sizing: border-box

body
  font-family: 'Merriweather'
  color: #333
  font-size: 20px
  margin: 0
  padding: 0

h1,h2,h3,h4
  font-family: 'Merriweather'
  color: #333
  font-weight: normal
  margin: 0

a
  text-decoration: none

.page-title
  position: sticky
  top: 0
  background: white
  font-size: 1.2em
  padding: 2em 1em 1em
  text-align: center
