@font-face
  font-family: "Lora"
  src: url("./fonts/Lora-Regular.ttf")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "Lato"
  src: url("./fonts/Lato-Regular.ttf")
  font-weight: normal
  font-style: normal
  font-display: swap

$heading: 'Lora', serif
$body: 'Lato', sans-serif

$black: #333
$bg: #feffff

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: $body
  color: $black
  font-size: 20px
  margin: 0
  padding: 0
  background: $bg
  line-height: 1.4
  height: 100%
  overflow-x: hidden
  @media screen and (max-width: 768px)
    font-size: 18px

h1,h2
  font-family: $heading
  color: $black
  font-weight: normal
  margin: 0

h1
  font-size: 1.8em
  @media screen and (max-width: 420px)
    font-size: 1.6em

  span
    font-size: .5em
    text-transform: none
    font-family: $body

a, a:visited, a:hover, a:focus
  text-decoration: none
  color: $black

a:hover
  border-bottom: 1px solid #333

a:focus
  border-bottom: 1px solid #36c425

*:focus
  outline: none

img
  width: 100%
  height: 100%

.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  align-items: center

.accent
  font-size: .85rem
  font-family: 'Lato', sans-serif
  text-transform: uppercase
  letter-spacing: .1em
  &:focus
    border-bottom: 1px solid #333
  &:focus
    border-bottom: 1px solid #36c425

.content
  height: 100%
  width: 100%

footer
  position: sticky
  bottom: 0
  height: auto
  z-index: 1000
  width: 100%
  background: #f9fef8


